<div class="container">
  <div class="row share_header">
    <h1>Share this gallery</h1>
  </div>
  <div class="row share_form_title">
    <div class="col-md-offset-3 col-md-6">
      <%= @gallery.title %>
    </div>
  </div>
  <div class="row share_form_title">
    <div class="col-md-offset-3 col-md-6">
      <%= image_tag @gallery.photos.last.size(:thumbnail) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <%= simple_form_for :share, class: "form-horizontal" do |f| %>
        <%= f.input :email %>
        <div class="row submit_button">
          <%= f.button :submit, "Share photo" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
